
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage4.cshtml";
}

<h2>Üyelerimize özel birçok fırsatımız var, hala kaydolmadın mı??? </h2>
<a class="btn btn-dark" href="@Url.Action("Create","Kullanıcılar")">Kaydol</a>

